__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
data/
.DS_Store
*.wav
!assets/stock_voices/**/*.wav
!assets/.gitkeep
node_modules/
frontend/dist/
.idea/
.vscode/
build/
dist/
*.egg-info/
.Python
